body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  color: #222;
}

header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.subtitle {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 18px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

main {
  width: 75%;
  margin: 30px auto;
}

.card {
  background-color: white;
  border: 2px solid #999;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 25px;
}

h2 {
  margin-top: 0;
}

.photo-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-photo {
  width: 320px;
  height: auto;
  border: 3px solid #222;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #444;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #d9d9d9;
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
